#print function

In [8]:
print("machine learning")

machine learning

prog lang for ml
1.python
2.r

In [2]:
print("machine learning"+"project")

machine learningproject

In [3]:
print(8+3)

11

# basic data types
 1. int
 2. float
 3. str
 4. boolean
 5. complex

In [16]:
f= 1+3j
type(f)

complex

In [4]:
type("suman")

str

# assigning

In [5]:
a,b,c=3,4,5
print(a + " " )

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# input fxn

In [10]:
d = input("enter 1st number : ")
print(d)

enter 1st number : 5
5

In [11]:
d = input("enter 1st number : ")
e = input("enter 2nd number : ")

print(d+e)

enter 1st number : 2
enter 2nd number : 3
23

In [14]:
d = int(input("enter 1st number : "))
e = int(input("enter 2nd number : "))

print(d+e)

enter 1st number : 2
enter 2nd number : 3
5

# string

In [19]:
print("hello"*5)

hellohellohellohellohello

In [20]:
print("programming"[1:5])

rogr

In [21]:
print("programming"[1:5:2])

rg

# List, Tupple, Set, Dictionary
1. list - mutable, ordered, indexed, allows duplicates

In [22]:
mylist = [1,2,3,4,5]
type(mylist)

list

lists can store multiple data type together

In [23]:
mylist = [1,2,3,"rupdip", True]
print(mylist)

[1, 2, 3, 'rupdip', True]

lits are mutable
Adding elements to a list

In [25]:
mylist = [1,2,3,"rupdip", True]
mylist.append(6)
print(mylist)
print(mylist[3])

[1, 2, 3, 'rupdip', True, 6]
rupdip

list allows duplicate values.

deleting items

In [28]:
print(len(mylist))
del mylist[3]
print(mylist)

6
[1, 2, 3, True, 6]

2. TUPPLE - ordered, immutable, indexed, allows duplicates

In [29]:
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

list to tuple

In [1]:
mylist = [1,2,3,"rupdip", True]
tuple2 = tuple(mylist)
print(tuple2)

(1, 2, 3, 'rupdip', True)

Tuples are immutable

In [2]:
tuple2.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
print(len(tuple2))

5

3. Set - mutable, unordered, unindexed, no duplicates

In [5]:
  set1={1,2,3,4}
  print(set)

{1, 2, 3, 4}

unindexed

In [6]:
print(set1[0])

TypeError: 'set' object is not subscriptable

set doesnt allow duplicate values

In [7]:
set1={1,2,3,4,1}
print(set1)

{1, 2, 3, 4}

4. Dictionary - mutable, ordered, key value pair, no duplicates

In [8]:
dict1 = {'name': 'rupdip', 'age': 21, "country": "india", }
print(dict1)
print(dict1['name'])

{'name': 'rupdip', 'age': 21, 'country': 'india'}
rupdip

no duplicate values and stores the last value only

In [9]:
dict1 = {'name': 'rupdip', 'age': 21, "country": "india", 'name': 'maa' }
print(dict1)

{'name': 'maa', 'age': 21, 'country': 'india'}

# operators

In [10]:
print(5**2)

25

In [13]:
print(5>2 and 3>1)
print(5>2 or 3<1)
print(not(5>2 and 3>1))

True
True
False

In [15]:
print(5 is 5)
print(5 is not 5)

True
False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-15-82a561dbeb3c>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(5 is 5)
<ipython-input-15-82a561dbeb3c>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(5 is not 5)

membership operator
in
not in

In [16]:
a=5
b=10
list1=[1,2,3,4,5]
print(a in list1)
print(b in list1)
print(a not in list1)

True
False
False

# if else, loop and function

In [18]:
if(5>2):
  print("5 is greater than 2")
else :
  print("h")

5 is greater than 2

In [23]:
for i in range(5):
  print(i)

0
1
2
3
4

In [24]:
numb = [50,100,150,200]
for i in numb:
  print(i)
for i in range(4):
  print(numb[i])

50
100
150
200
50
100
150
200

factorial of number

In [28]:
n= int(input("enter"))
f=1
if(f==0):
  print(1)
else :
  for i in range(1,n+1):
    f=f*i
  print(f)

enter5
120

with function and recursion

In [32]:
def fact(n):
  f=1
  if(n==0):
    f=1
  else :
    f=n*fact(n-1)

  return f;

In [34]:
print(fact(5))

120